<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanweng.shopping.mapper.BannerMapper">

    <insert id="createBanner">
        insert into banner_table(banner_type, banner_url, title, text, top_text, bottom_text, details_text, create_time, update_time)
        VALUES (#{bannerType},#{bannerUrl},#{title},#{text},#{topText},#{bottomText},#{detailsText},#{createTime},#{updateTime})
    </insert>
    <update id="updateBanner">
        update banner_table
        set
            banner_type = #{bannerType},
            banner_url = #{bannerUrl},
            title = #{title},
            text = #{text},
            top_text = #{topText},
            bottom_text = #{bottomText},
            details_text = #{detailsText},
            update_time = #{updateTime}
        where
            id = #{id}
    </update>
    <delete id="deleteBanner">
        delete from banner_table where id = #{id}
    </delete>
</mapper>
