<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanweng.shopping.mapper.CategoryMapper">

    <insert id="createCategory" useGeneratedKeys="true" keyProperty="id">
        insert into category_table(category_name, category_father_id, category_level, category_weight, category_tip, category_tip_show, category_show_img, category_details, create_time, update_time)
        VALUES (#{categoryName},#{categoryFatherId},#{categoryLevel},#{categoryWeight},#{categoryTip},#{categoryTipShow},#{categoryShowImg},#{categoryDetails},#{createTime},#{updateTime})
    </insert>

    <update id="updateCategory">
        update category_table
        set
            category_name = #{categoryName},
            category_father_id = #{categoryFatherId},
            category_level = #{categoryLevel},
            category_weight = #{categoryWeight},
            category_tip = #{categoryTip},
            category_tip_show = #{categoryTipShow},
            category_show_img = #{categoryShowImg},
            category_details = #{categoryDetails},
            update_time = #{updateTime}
        where
            id = #{id}
    </update>
    <delete id="deleteCategoryById">
        delete from category_table where id = #{id}
    </delete>
</mapper>
