<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanweng.shopping.mapper.GoodsMapper">

    <insert id="createGoods" useGeneratedKeys="true" keyProperty="id">
        insert into goods_table(goods_name, goods_price, goods_size, goods_detail, goods_type, goods_weight, goods_show_img, goods_tip, goods_tip_show, goods_code, goods_quality,create_time, update_time)
        VALUES(#{goodsName},#{goodsPrice},#{goodsSize},#{goodsDetail},#{goodsType},#{goodsWeight},#{goodsShowImg},#{goodsTip},#{goodsTipShow},#{goodsCode},#{goodsQuality},#{createTime},#{updateTime})
    </insert>
    <update id="addGoodsBarCode">
        update goods_table
        set
            goods_bar_code = #{goodsBarCode}
        where
            id = #{id}
    </update>
    <update id="updateGoods">
        update goods_table
        set
            goods_name = #{goodsName},
            goods_price = #{goodsPrice},
            goods_size = #{goodsSize},
            goods_detail = #{goodsDetail},
            goods_type = #{goodsType},
            goods_weight = #{goodsWeight},
            goods_show_img = #{goodsShowImg},
            goods_tip = #{goodsTip},
            goods_tip_show = #{goodsTipShow},
            goods_code = #{goodsCode},
            goods_quality = #{goodsQuality},
            update_time = #{updateTime}
        where
            id = #{id}
    </update>
    <delete id="deleteGoodsById">
        delete from goods_table where id = #{id}
    </delete>
    <select id="getGoodsByGoodsId" resultType="com.quanweng.shopping.pojo.Goods">
        select * from goods_table where id = #{goodsId}
    </select>
    <select id="getGoodsByKeyWord" resultType="com.quanweng.shopping.pojo.Goods">
        select * from goods_table where  goods_code like concat('%',#{keyWord},'%') order by goods_weight desc
    </select>
    <select id="getAllGoodsByNoTip" resultType="com.quanweng.shopping.pojo.Goods">
        select * from goods_table where goods_tip != '' and goods_tip_show = 1 and goods_tip is not null order by goods_weight desc
    </select>
</mapper>
