<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanweng.shopping.mapper.OrderMapper">

    <insert id="createOrder" useGeneratedKeys="true" keyProperty="id">
        insert into order_table(user_id, status, delivery, order_price, order_add, user_name, user_phone, user_email, user_code, logistics_com, logistics_id, logistics_status, order_note, order_from,order_group,create_time, update_time)
        VALUES(#{userId},#{status},#{delivery},#{orderPrice},#{orderAdd},#{userName},#{userPhone},#{userEmail},#{userCode},#{logisticsCom},#{logisticsId},#{logisticsStatus},#{orderNote},#{orderFrom},#{orderGroup},#{createTime},#{updateTime})
    </insert>
    <update id="updateOrder">
        update order_table
        set
            user_id = #{userId},
            status = #{status},
            delivery = #{delivery},
            order_price = #{orderPrice},
            order_add = #{orderAdd},
            user_name = #{userName},
            user_phone = #{userPhone},
            user_code = #{userCode},
            logistics_com = #{logisticsCom},
            logistics_id = #{logisticsId},
            logistics_status = #{logisticsStatus},
            order_from = #{orderFrom},
            order_note = #{orderNote},
            order_group = #{orderGroup},
            update_time = #{updateTime}
        where
            id = #{id}
    </update>
</mapper>
