<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quanweng.shopping.mapper.UserTraceReqInfoMapper">
    <insert id="insertUserTraceReqInfo" parameterType="com.quanweng.shopping.pojo.UserTraceReqInfo">
        INSERT INTO user_trace_req_info (requestSessionID, user_id, req_Header)
        VALUES (#{requestSessionID}, #{userId}, #{reqHeader})
    </insert>
    <insert id="insertOrUpdateUserTraceReqInfo" parameterType="com.quanweng.shopping.pojo.UserTraceReqInfo">
        INSERT INTO user_trace_req_info (requestSessionID, user_id, req_Header)
        VALUES (#{requestSessionID}, #{userId}, #{reqHeader})
            ON DUPLICATE KEY UPDATE
                                 user_id = VALUES(user_id),
                                 req_Header = VALUES(req_Header)
    </insert>
    <select id="selectByRequestSessionID" resultType="com.quanweng.shopping.pojo.UserTraceReqInfo">
        SELECT requestSessionID, user_id, req_Header
        FROM user_trace_req_info
        WHERE requestSessionID = #{requestSessionID}
    </select>
</mapper>
